@media (max-width: 768px) {
    .calculator {
        margin-top: 45px;
    }

    .trademark {
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
    }

    .trademark p {
        font-size: 8px;
    }
}